/* You can add global styles to this file, and also import other style files */
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: green !important;
  background-color: #fff !important;
  border-color:#fff !important;
  border-bottom: 4px solid green !important;
}